.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: var(--background);
  min-height: 100vh;
  position: relative;
}

.heroContent {
  max-width: 1200px;
  width: 100%;
}

.tagline {
  font-size: 3rem;
  text-align: center;
  color: var(--text-dark);
  margin-bottom: 3.5rem;
  line-height: 1.2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brandName {
  font-family: var(--heading-font);
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--primary);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.taglineSeparator {
  display: block;
  width: 100px;
  height: 3px;
  background: var(--secondary);
  margin: 1rem auto;
  border-radius: 2px;
}

.taglineText {
  font-size: 2rem;
  font-weight: 400;
  /* font-style: italic; */
}

.aboutBox {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.aboutBox:hover {
  transform: translateY(-1px);
}

.imageWrapper {
  flex: 1;
  max-width: 400px;
  position: relative;
}

.heroImage {
  width: 100%;
  height: auto;
  border-radius: 5%;
  border: solid 4px var(--secondary);
  transition: all 0.3s ease;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.description {
  flex: 1.5;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--text-dark);
}

.descriptionTitle {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 0.5rem;
}

.descriptionTitle .brandName {
  font-size: 2.5rem;
}

.descriptionTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 3px;
  background-color: var(--secondary);
  border-radius: 2px;
}

.description p {
  margin-bottom: 1.2rem;
}

.highlight {
  color: var(--secondary);
  font-weight: 700;
}

.callToAction {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin-top: 2rem;
  padding: 1rem;
  border-left: 4px solid var(--secondary);
  background-color: rgba(var(--secondary-rgb), 0.05);
}

.ctaBtn {
  background-color: var(--secondary);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ctaBtn:hover {
  background-color: var(--primary);
  transform: translateY(-3px);
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .aboutBox {
    gap: 3rem;
  }

  .tagline {
    font-size: 2.5rem;
  }

  .brandName {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .aboutBox {
    flex-direction: column;
    text-align: center;
  }

  .imageWrapper {
    max-width: 300px;
  }

  .descriptionTitle::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .callToAction {
    border-left: none;
    border-top: 4px solid var(--secondary);
  }
}

@media (max-width: 480px) {
  .sectionContainer {
    padding: 2rem 1rem;
  }

  .brandName {
    font-size: 2.8rem;
  }

  .taglineText {
    font-size: 1.5rem;
  }

  .imageWrapper {
    max-width: 250px;
  }
}
